body {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: black;
}

.center {
    padding-left: 29%;
    font-weight: 900;
    font-size: 60px;
}

.bit-left {
    padding-left: 23%;
    font-weight: 900;
    font-size: 60px;
}

.slight-left {

    padding-left: 3%;
    padding-right: 3%;
}

.orange-color {
    color: orangered;
}

.link-button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding-left: 41%;

}

.this-area {
    background-image: linear-gradient(orange, tomato);
    border-radius: 7px;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;



}

.background-area {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: whitesmoke;
}

.mid-center {
    text-align: center;
}

.small-size {
    font-size: large;
    padding-left: 3%;
    padding-right: 3%;
    color: rgba(0, 0, 0, 0.372);
}

.text-placing {
    padding-left: 20%;
}

.deco-ration {
    display: flex;
    gap: 10%;
    padding-left: 20%;
    padding-right: 20%;
    color: rgba(0, 0, 0, 0.436);
}

.aqua-color {
    background-color: rgba(237, 235, 235, 0.372);
    width: 70px;
    height: 70px;
    color: rgba(28, 28, 28, 0.372);
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 23px;
    padding-top: 22px;

}

#extra-color {
    background-color: rgb(248, 218, 208);
    width: 70px;
    height: 70px;
    color: orangered;
    padding-left: 2%;
    padding-right: 2%;
    border: 2px solid;
    border-radius: 5px;
    margin-top: 23px;
    padding-top: 22px;
}

.place-adjust {
    padding-left: 41%;

}

.input {
    border: none;
    outline: none;
    border-bottom: 0.5px solid rgb(128, 127, 127);
    width: 60%;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.another-placing {
    padding-left: 10%;
}

.food {
    background-color: rgba(207, 250, 250, 0.256);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 4%;
    padding-bottom: 4%;

}

.shelter {
    background-color: rgb(254, 245, 253);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.education {
    background-color: rgb(250, 239, 219);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.font {
    font-size: large;
}

.slight-change {
    font-size: large;
    color: rgba(0, 0, 0, 0.372);
}

.family-need {
    display: flex;
    padding: 3% 3%;
    gap: 2%;
}

.contribute {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.live-depend {
    display: flex;
    padding-left: 3%;
    padding-right: 3%;

    gap: 4%;


}

.half-width {
    width: 50%;

}

.half-width img {
    width: 100%;
}

.survive {
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    gap: 4%;
}

.subscription {
    background-color: rgb(254, 249, 237);
    background-position: center;
    display: flex;
    width: 60%;
    height: 150px;
    align-items: center;
    justify-content: center;
    padding-right: 6%;
    margin: 60px auto;



}

#email {
    box-shadow: 5px 5px 200px;
    border: none;
    width: 25%;
    height: 20px;
    padding-left: 2%;
    padding-bottom: 22px;

    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
    color: rgba(0, 0, 0, 0.372);
    background-color: rgba(95, 95, 95, 0.372);

    font-size: large;

}

#subscribe {
    margin-left: -65px;
    border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;


}

.sub-area {
    background-image: linear-gradient(orange, tomato);
    border-radius: 7px;
    text-align: center;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;

}

.sub-button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding-left: 40%;
}

.foot {
    background-color: black;
    background-position: cover;
    color: orangered;
    text-align: center;
    font-style: italic;
}

.extra-small {
    color: whitesmoke;
    font-size: small;
    padding-bottom: 3%;
}